* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 100px;
}

// variables 

$primary: #5265E1;
$secondary: #FA5959;
$success: rgb(7, 7, 45);
$navbar-light-toggler-border-color: white;

//navbar

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
}

.nav-item {
    font-size: small;
}

.navbar .navbar-nav .nav-link {
    &:hover {
    color: $secondary;}}

#inside-btn {
    text-transform: uppercase;}
    
.navbar .btn {
    &:hover {
    color: $secondary!important;
    background-color: white!important;}}

// first section

#first-button, #third-button {
    &:hover {
        color: $primary!important;
        background-color: white!important;
}}

#second-button {
    &:hover {
        border: 1px solid rgb(4, 4, 43)!important;
}}

.positioning-container {
    position: relative;
}

@mixin background-positions {
    color: $primary;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    position: absolute;
}

.background-spot {
    @include background-positions;
    height: 250px;
    bottom: 0px;
    right: 0px;
    margin-bottom: 30px;
}

.pic2 {
    position: relative;
}

@media (min-width: 992px) {

.pic2 {
    position: absolute;
    top: -50px;
    left: 20px;
}

.background-spot {
    height: 300px;
    @include background-positions;
    bottom: -100px;
    right: -75px;
} }

 // tabs 

.extra-border {
    border-bottom: 3px solid $secondary;
}

.nav-tabs .nav-link {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-right: none!important;
    border-left: none!important;
    &:hover {
        color: $secondary!important;
    }
  }

  #mysecondtab, #mythirdtab {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: grey;
  }

  @media (min-width: 992px) {
    .nav-tabs {
        border-bottom: none!important;
    }

    #mytab {
        border-bottom: 3px solid $secondary;
        border-top: none;
        padding-bottom: 20px;
        padding-right: 25px;
    }

    .extra-border {
        border-bottom: none;
    }

    #mysecondtab, #mythirdtab {
        border-top: none;
        padding-bottom: 20px;
  }

    #mysecondtab {
    padding-left: 25px;
    padding-right: 50px;
  }

    .nav-tabs .nav-item {
    border-top: none!important;
  } }

  // tabs until here

.background-spot2 {
    height: 200px;
    color: $primary;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    bottom: -100px;
    left: 0px;
    margin-bottom: 30px;
}

.pic3 {
    position: relative;
}

@media (min-width: 992px) {

.pic3 {
    position: absolute;
    margin-top: 30px;
}

.background-spot2 {
    height: 300px;
    color: $primary;
    position: absolute;
    top: 150px;
    left: -50px;
} }

// cards

.diy-card {
    border: 1px solid grey;
    box-shadow: grey 0px 5px 10px;
    height: 250px;
}

#card-one {
    margin-top: 20px;
}

#card-two {
    margin-top: 40px;
}

#card-three {
    margin-top: 60px;
}

@media (min-width: 992px) {
    .diy-card {
        height: 200px;}

    #card-one {
            margin-top: 20px;
        }
        
    #card-two {
            margin-top: 40px;
        }
        
    #card-three {
            margin-top: 60px;
        }
    }


@media (max-width: 768px) {
    #card-one {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #card-two {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
#card-three {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

// accordion

#accordionFlushExample {
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
}

#flush-headingFour {
    border-bottom: 10px grey solid;
}

.accordion-button.collapsed::before {
    $accordion-button-color: #5265E1;
    $accordion-icon-color: #5265E1;
    $accordion-color: #5265E1;
}

.accordion-button:not(.collapsed)::after {
    $accordion-button-color: #5265E1;
    $accordion-icon-color: #5265E1;
    $accordion-color: #5265E1;
  }


// footer


.cropped {
display: block;
width: 20px;
height: 20px;
background-size: cover;
background-position: left;
}


@import '../node_modules/bootstrap/scss/bootstrap';
