$primary: #5265E1;
$secondary: #FA5959;

@media (min-width: 992px) {
#bookmark-logo {
    padding-left: 100px;
}}

#login-btn {
    padding-right: 100px;
}

#inside-btn {
    padding: 5px 25px;
}

.nav-item {
    font-size: small;
}

body {
    padding-top: 100px;
}

.positioning-container {
    position: relative;
}

.background-spot {
    height: 200px;
    color: $primary;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 30px;
}

.pic2 {
    position: relative;
}

@media (min-width: 768px){

.pic2 {
    position: absolute;
    top: 50px;
    left: 0px;}

.background-spot {
    height: 100px;
    color: $primary;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    position: absolute;
    bottom: 50px;
    right: 0px;
}}

@media (min-width: 992px) {

.pic2 {
    position: absolute;
    top: -50px;
    left: 0px;
}

.background-spot {
    height: 300px;
    color: $primary;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    position: absolute;
    bottom: -100px;
    right: -18px;
} }
 // tabs 

.my-tabs {
    border-radius: 0;
}

.my-tabs.nav-tabs {
    border-bottom: 1px grey solid; 
}

.my-tabs .nav-link {
    border-bottom: 1px grey solid; 
}

.navigation-tab {
    border-bottom: 1px grey solid;
}

.my-tabs .nav-link.active .my-tabs .nav-link:focus, .my-tabs .nav-link:hover {
    border-color: $secondary;
}

#mytab.nav-link.active {
    border-bottom: 1px grey solid;
    border-left: none;
    border-top: 1px grey solid;
    border-right: none;
  }

.nav>li>a {
    color: grey;
  }

.nav-tabs .nav-link {
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }


  // tabs until here

.background-spot2 {
    height: 200px;
    color: $primary;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    bottom: -100px;
    left: 0px;
    margin-bottom: 30px;
}

.pic3 {
    position: relative;
}

@media (min-width: 992px) {

.pic3 {
    position: absolute;
    margin-top: 30px;
}

.background-spot2 {
    height: 300px;
    color: $primary;
    position: absolute;
    top: 150px;
    left: -50px;
} }

// cards

.diy-card {
    border: 1px solid grey;
    box-shadow: grey 0px 5px 10px;
    height: 250px;
}

#card-one {
    margin-top: 20px;
}

#card-two {
    margin-top: 40px;
}

#card-three {
    margin-top: 60px;
}

@media (min-width: 992px) {
    .diy-card {
        height: 200px;}

    #card-one {
            margin-top: 20px;
        }
        
    #card-two {
            margin-top: 40px;
        }
        
    #card-three {
            margin-top: 60px;
        }
    }


@media (max-width: 768px) {
    #card-one {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #card-two {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
#card-three {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

// accordion

#accordionFlushExample {
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
}

#flush-headingFour {
    border-bottom: 10px grey solid;
}

.accordion-button.collapsed::before {
    $accordion-button-color: #5265E1;
    $accordion-icon-color: #5265E1;
    $accordion-color: #5265E1;
}

.accordion-button:not(.collapsed)::after {
    $accordion-button-color: #5265E1;
    $accordion-icon-color: #5265E1;
    $accordion-color: #5265E1;
  }

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-icon-active-color: #5265E1; 

.accordion-button.collapsed::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

// footer

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

@import '../node_modules/bootstrap/scss/bootstrap';
